[submodule "common/libcanard"]
	path = common/libcanard
	url = https://github.com/UAVCAN/libcanard.git
[submodule "common/uavcan_dsdl"]
	path = common/uavcan_dsdl
	url = https://github.com/UofA-SPEAR/uavcan_dsdl.git
